<!DOCTYPE html>
<html>
    <head>
        <title>Warehouse Site</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale = 1">
        <meta name="description" content="warehouse site">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/adminn.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="truck inverted icon"></i> warehouse Site</div>
                <a href="/admin" class="item">Home</a>
                
                    <div class="right menu ">
                             <% if(!currentUser){ %>
                        
                        <a href="/login" class="item " >L</a>
                        <a href="/register" class="item ">Sign Up</a>
                    <% } else { %>
                        <a href="#" class="item right">Signed In As <%= currentUser.username %></a>
                        <a href="/admin/logout" class="item " >Logout</a>
                    <% } %>
                            
                        </div>
                   
                
            
            </div>
        </div>