<% include ./partials/header %>
<div class="ui container Table">
<table class="ui  inverted table">
    <thead>
      <tr>
        <th>Name</th>
        <th>product</th>
        <th></th>
        <th></th>

      </tr>
    </thead>

    <% products.forEach(function(product){ %>
    <%  if(product.Archive===0) { %>
    
    
       <tbody>
      
      <tr>
        <td> <%= product.name %> </td>
        <td> <%= product.price %> </td>
        <th class="right aligned"><a href="/products/addrequests/readMore"><button class="ui green basic button"> read more </button></a></th>
        
          
          </th>
      </tr>
    
    </tbody>
      
      <% } %>
   
    <% }) %>


  </table>
  </div>

<% include ./partials/footer %>









