<!DOCTYPE HTML>
<html>
    <head>
        <title>ADMIN</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>
        <a href= "/admin/admin_suppliers"><button id ="supplier">Manage Supplier</button></a>
        <a href="/admin/admin_employees"><button id = "employee">Manage Employee</button></a>

        
    </body>
</html>
