<% include ./partials/header %>

<div class="ui container Table">
<table class="ui  inverted table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th></th>
        <th></th>

      </tr>
    </thead>
   
    <% employees.forEach(function(employee){ %>
  <%  if(employee.Archive===0) {  %>

          <tbody  >
        
        <tr>
          <td> <%= employee.FirstName +" "+employee.LastName %> </td>
          <td> <%= employee.UserName %> </td>
          <th class="right aligned"><a href="/admin/admin_employees/<%= employee._id%>/edit"><button class="ui green basic button"> Edit </button></a></th>
          <th class="right aligned">
            
            <form id="delete" action="/admin/admin_employees/<%= employee._id%>?_method=DELETE" method="POST">
                <button  class="ui green basic  button">  Archive  </button>
            </form>
            
          </th>
          
            
        </tr>
      
      </tbody>
               <% } }) %>

  </table>
  
  </div>
          

    
 
    
<% include ./partials/footer %>