<% include ./partials/header %>
<p>hello world</p>
<div class="ui main text container segment">
    <div class="ui huge header">New Product </div>
    <form class="ui form action" action="/suppliers/product/add" method="POST">
        
        <div class="field">
            <label>name</label>
            <input required type="text" placeholder="name" name="product[name]">
        </div>

        <div class="field">
            <label>supplier </label>
            <input required type="text" placeholder="supplier" name="product[supplier]">
        </div>

        <div class="field">
            <label>category</label>
            <select required name="product[category]" > 
                <option value ="Laptop">Laptop</option>
                <option value="TV">TV</option>
                <option value="Smartphones">Smartphones</option>
            </select>
        </div>



        <div class="field">
            <label>price</label>
            <input required type="text" placeholder="price" name="product[price]">
        </div>

        <div class="field">
            <label>quantity</label>
            <input required type="text" placeholder="quantity" name="product[quantity]">
        </div>

        <div class="field">
            <label>description</label>
            <textarea required name="product[description]"></textarea>
        </div>

        <input type="submit" class="ui violet basic button">


    </form>


</div>



<% include ./partials/footer %>