






<% include ./partials/newadminheader %>
<p>hello world</p>
<div class="ui main text container segment RegisterationForm">
    <div class="ui huge header">New Account </div>
    
    <form  autocomplete="off" class="ui form action " action="/admin/employee" method="POST">
        
        <div class="field">
            <label>FirstName</label>
            <input required type="text" placeholder="FirstName" name="EmployeeAccount[FirstName]">
        </div>

         
        <div class="field">
            <label>LastName</label>
            <input required type="text" placeholder="LastName" name="EmployeeAccount[LastName]">
        </div>

        <div class="field">
            <label>UserName</label>
            <input required type="text" autcomplete="false" id="username" placeholder="UserName" name="username">
        </div>

        <div class="field">
            <label>Password</label>
            <input required type="password" placeholder="Password" name="password">
        </div>
        
          <div class="field">
            <label>Age</label>
            <input required type="number" placeholder="Age" name="EmployeeAccount[Age]">
            
        </div>

        
        <div class="field">
            <label>CardNumber</label>
            <input required type="number" placeholder="CardNumber" name="EmployeeAccount[CardNumber]">
        </div>

        <div class="field">
            <label>CVV</label>
            <input required type="number" placeholder="CVV" name="EmployeeAccount[CVV]">
        </div>

        <div class="field">
            <label>ExpirationMonth</label>
          <!--  <input required type="number" placeholder="ExpirationMonth" name="SupplierAccount[ExpirationMonth]">  -->
            <select class="ui dropdown"  required type="number" placeholder="ExpirationMonth" name="EmployeeAccount[ExpirationMonth]">
              
              <option value="1">Jan</option>
              <option value="2">Feb</option>
              <option value="3">Mar</option>
              <option value="4">Apr</option>
              <option value="5">May</option>
              <option value="6">Jun</option>
              <option value="7">Jul</option>
              <option value="8">Aug</option>
              <option value="9">Sep</option>
              <option value="10">Oct</option>
              <option value="11">Nov</option>
              <option value="12">Dec</option>
            </select>
        </div>

        <div class="field">
            <label>ExpirationYear</label>
           <!-- <input required type="number" placeholder="ExpirationYear" name="SupplierAccount[ExpirationYear]">  -->
           <select class="ui dropdown"  required type="number" placeholder="ExpirationYear" name="EmployeeAccount[ExpirationYear]">
          <%  var i = new Date().getFullYear() 
            var j = i +5
             for( i; i <= j ; i++){ %>
                        <option value="<%= i %>"><%= i %></option>

             <% } %>
              
            </select>
            
         
        </div>

        <div class="field">
            <label>JobDescription</label>
            <input required type="text" placeholder="JobDescription" name="EmployeeAccount[JobDescription]">
        </div>

        <div class="field">
            <label>Email</label>
            <input required type="email" placeholder= "Email" name="EmployeeAccount[Email]"></input>
        </div>


        <div class="field">
            <label>PhoneNumber</label>
            <input required type="number" placeholder="PhoneNumber" name="EmployeeAccount[PhoneNumber]">
        </div>

        <div class="field">
            <label>Address</label>
            <input required type="text" placeholder="Address" name="EmployeeAccount[Address]">
        </div>
        
        <div class="field">
            <label>Salary</label>
            <input required type="text" placeholder="Salary" name="EmployeeAccount[Salary]">
        </div>

        
        
      <div class="hidden" id="crt-btn">  <button class="ui green button large creation" id="hidden" > Create</button> </div>
        


    </form>
    
   <% employees.forEach(function(employee){ %>
    <span class="usernamecheck"><%= employee.username %>,</span>
    <% })%> 
    
   <div id="chkBtn"> 
    <button class="ui violet button large " id = "checkButton"> Validate </button> </div>
    
<script>
    
    //$(#username).attr('value');
    /*var sups= suppliers.username;
    
        console.log(sups);
    $('#checkButton').click(function(){
        
         sups.forEach(function(supplier){
        if(supplier===$('#username').val() ){
            alert('not allow')
        }
    })
    }); */
    $('#checkButton').click(function(){
     var users =    $('.usernamecheck').text().split(',')
     users.push(undefined);
     console.log(users);
     var flag = 0;
     for(var i = 0; i < users.length ; i++){
         
           if($('#username').val()===users[i]){
             $('#username').addClass('username-border');
             console.log($('#username').val())
            $('#username').attr('readonly', false);

             flag=0;
             break;
           }
             else{
                 flag=1;
             }
             

             
         
     }
         
     /*
     users.forEach(function(user){
         if($('#username').val()===user){
             $('#username').addClass('username-border');
             flag=0;
             break;
             
             else{
                 flag=1;
             }
             

             
         }
         
     })*/
            if(flag===1){
             $('#username').removeClass('username-border');
             $('#username').attr('readonly', true);
             $('#chkBtn').addClass('check-button');
             $('#crt-btn').removeClass('hidden');
            }
     
            

    })
    
</script>



</div>