
<% include ./partials/suppheader %>

    <body class="request ">
        <div class="request" > 
            <p class="request" > Request has been submited !  <i class="fas fa-check"></i> </p>
            <a href= "/suppliers/"> <button class="request fluid ui inverted blue button "> Back to dashboard </button></a>       
        </div>
    </body>
    <% include ./partials/suppfooter %>
