<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.css">
    <style> 
    div{
        width: 550px ;
        box-shadow: 0 0 5px rgba(0, 0, 0 , 0.2) ;
        margin: 100px auto ;
        padding: 20px 32px 30px 32px;
        background-color: #e7faff;
    }
    p{  font-size: 40px;
        font-weight: bold;
        text-align: center;
    }
     .fa-check{
      color : white ;
      float: right;
      background-color:#4CA1AF;  
      padding: 2px ;
        }
    button{
      background-color:#4CA1AF; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin-left: 140px;
      margin-right: auto;
        }
        body{background: #4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d9f4f4, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d9f4f4, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
   
    </style>
</head>
<body>
    <div > 
        <p> Request has been submited  <i class="fas fa-check"></i> </p>
   
        <a href= "/suppliers/"> <button>Back to dashboard</button></a>
       
    </div>
</body>
</html>