

<% include ./partials/header %>

<div style="margin: 15% 35%;" >  
        <div class="massive ui buttons">  
            <a href= "/suppliers/storing/declined"><button class='massive   ui button'>Declined Adding   </button></a>
            <div class="or"></div>
            <a href="/suppliers/pulling/declined"><button class='massive ui blue button'>Declined pulling  </button></a>        
    </div>
</div>      

<% include ./partials/footer %>
