

<% include ./partials/header %>

<div style="margin: 15% 35%;" >  
        <div class="massive ui buttons">  
            <a href= "/suppliers/storing/confirmations"><button class='massive   ui button'>Accepted Adding   </button></a>
            <div class="or"></div>
            <a href="/suppliers/pulling/confirmations"><button class='massive ui blue button'>Accepted pulling  </button></a>        
    </div>
</div>      

<% include ./partials/footer %>








