<% include ./partials/header %>

    <% products.forEach(function(product){ %>
  
    <div class="ui container Table">
    <table class="ui  inverted table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
           <th>Quantity</th>
          </tr>
        </thead>         
        <tbody>
          
          <tr>
            <td> <%= product.name %> </td>
            <td> <%= product.category %> </td>
            <td><%= product.quantity %></td>  
          </tr>
        
        </tbody>
          
        
          

    </table>
    </div>
  <% }); %>

<% include ./partials/footer %>



