<% include ./partials/suppheader %>
  <body class=" ui inverted segment">
        <div class="container">
            <a href= "/suppliers/product/add"><button class="fluid ui inverted green button  " >Add New Product </button></a>
            <a href="/suppliers/products/pull"><button class=" fluid ui inverted green button ">Pull Product</button></a>
            <a href="/suppliers/products/show"><button class=" fluid ui inverted green button">Show Product</button></a>
            <a href="/suppliers/suppaccepted"><button class=" fluid ui inverted green button ">accepted requests</button></a>
            <a href="/suppliers/suppdeclined"><button class=" fluid ui inverted green button ">decline requests</button></a>
        </div>
        
</body>
<% include ./partials/suppfooter %>

