<!DOCTYPE HTML>
<html>
    <head>
        <title>SupplierDashboard</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>
        <a href= "/suppliers/product/new"><button id ="supplier">Add Product</button></a>
        <a href="/suppliers/products/pull"><button id = "employee">Pull Product</button></a>
        <a href="/suppliers/products"><button id = "employee">Show Product</button></a>
        <a href="/suppliers/products/accepted"><button id = "employee">accepted requests</button></a>
        <a href="/suppliers/products/decline"><button id = "employee">decline requests</button></a>

        
    </body>
</html>
