<% include ./partials/suppheader %>
  <body class=" ui inverted segment">
        <div class="container">
            <a href= "/suppliers/product/add"><button class="fluid ui inverted blue button  " >Add New Product </button></a>
            <a href="/suppliers/products/pull"><button class=" fluid ui inverted blue button ">Pull Product</button></a>
            <a href="/suppliers/products/"><button class=" fluid ui inverted blue button">Show Product</button></a>
            <a href="/suppliers/products/accepted"><button class=" fluid ui inverted blue button ">accepted requests</button></a>
            <a href="/suppliers/products/decline"><button class=" fluid ui inverted blue button ">decline requests</button></a>
        </div>
        
</body>
<% include ./partials/suppfooter %>

