<!DOCTYPE HTML>
<html>
    <header>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/adminn.css">

    </header>
    <body id="body-login">
<div class="ui main text container segment">
    <div class="ui huge header">Login </div>
    <form class="ui form action" action="/suppliers/login" method="POST">
        
        

        <div class="field">
            <label>UserName</label>
            <input required type="text" placeholder="UserName" name="username">
        </div>

        <div class="field">
            <label>Password</label>
            <input required type="password" placeholder="Password" name="password">
        </div>

        <div class="field">
        <button  class="ui orange fluid button"> Login</button>
        </div>



    </form>


</div>



</body>
</html>
