<% include ./partials/header %>

<div style="margin: 15% 35%;" >  
        <div class="massive ui buttons">

        
            <a href= "/products/addrequests"><button class='massive ui button'>suppliers add requsts  </button></a>
            <div class="or"></div>
            <a href="/products/pullrequests"><button class='massive ui positive button'>suppliers pull requsts </button></a>

        
    </div>
    
  
          

<% include ./partials/footer %>