<% include ./partials/header %>






<div margin="15% 35%" id="mrg">  
        <div class="massive ui buttons">

            <a href="/products/addrequests "><button class='massive ui negative button' id="add-btn">suppliers add requsts  </button></a>
            <div class="or"></div>
            
            <a href="/products/pullrequests "><button class='massive ui positive button' id="pull-btn">suppliers pull requsts </button></a>
            

        </div>        
</div>

    

<% include ./partials/footer %>