<!DOCTYPE HTML>
<html>

    <body>
        <a href= "/products/addrequests"><button class='ui buttom basic green'>suppliers add requsts <%= products.length %> </button></a>
        <a href="/products/pullrequests"><button class='ui buttom basic green'>suppliers pull requsts </button></a>

        
    </body>
</html>
